h1 {-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;}
button {display: block;
        margin: 0 auto;
        text-decoration: none;
        padding: 5px 10px;
        background: #da622b;
        border-radius: 10px;
        color: white;
        border-width: 0px;
        
    }
label {font-family: Palatino Linotype;
    }
input {border-radius: 15px}
table, th, td, tr {border: 3px solid white}
th {-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;}
tr { background-color: rgba(20, 20, 19, 0.7);}

form {-webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: black;
    }
body {background-image: url('1884665.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-blend-mode: darken;

    }
.edit_btn {
      text-decoration: none;
      padding: 2px 5px;
      background: #e4e4eb;
      color: black;
      border-radius: 3px;
    }

.del_btn {
      text-decoration: none;
      padding: 2px 5px;
      color: black;
      border-radius: 3px;
      background: #e4e4eb;
    }